body
{
background-color:teal;
}

#banner
{
text-align:center;
}

#selector
{
width:70%;
height:50px;
background-color:black;
margin:0 auto;
text-align:center;
}

#one
{
text-align:center;
}
#wrapper
{
width:900px;
height:600px;
background:yellow;
position:relative;
left:140px

}
#menu
{
float:left;
width:200px;
height:600px;
background:orange;
}
#main
{
float:right;
width:700px;
height:600px;
background:lime;
overflow:auto;
}
#selector1
{
width:700px;
height: 21px;
}
.selector2
{
float:left;
display: block;
height: 20px;
width: 173px;
border: 1px solid #000;
}
.video1
{
float:left;
width:200px;
height:150px;
background:yellow;
position:relative;
top:40px;
left:100px;
margin-bottom:40px;
margin-right:40px;
}
.video2
{
float:left;
width:200px;
height:150px;
background:yellow;
position:relative;
top:40px;
left:100px;
margin-bottom:40px;
margin-right:40px;
}
.blog1
{
float:left;
width:200px;
height:150px;
background:blue;
position:relative;
top:40px;
left:100px;
margin-bottom:40px;
margin-right:40px;
}
.article1
{
float:left;
width:200px;
height:150px;
background:red;
position:relative;
top:40px;
left:100px;
margin-bottom:40px;
margin-right:40px;
}
.article2
{
float:left;
width:200px;
height:150px;
background:red;
position:relative;
top:40px;
left:100px;
margin-bottom:40px;
margin-right:40px;
}
.header
{
width:200px;
height:50px;
background:orange;
font-family:helvetica;

}
.blog2
{
float:left;
width:200px;
height:150px;
background:blue;
position:relative;
top:40px;
left:100px;
margin-bottom:40px;
margin-right:40px;
}
.news1
{
float:left;
width:200px;
height:150px;
background:purple;
position:relative;
top:40px;
left:100px;
margin-bottom:40px;
margin-right:40px;
}
.news2
{
float:left;
width:200px;
height:150px;
background:purple;
position:relative;
top:40px;
left:100px;
margin-bottom:40px;
margin-right:40px;
}