/*home page and template css*/
body
{
background-color:teal;
}
p
{
padding-left:10px;
}
#banner
{
text-align:center;
}

.selector
{
font-family:helvetica;
width:80%;
height:50px;
background-color:black;
margin:0 auto;
text-align:center;
}
.topbuttons
{
float:left;
display: block;
height: 20px;
width: 25%;
text-align:center;
font-size:150%;
}
.heading
{
font-family:helvetica;
text-align:center;
}

#wrapper
{
margin:0 auto;
width:80%;
border: 1px solid #000;
min-height:600px;
}

#Intro
{
width:200px;
height:150px;
background-color:#0000CC;
float:left;
margin: 50px;
}

#ImageOne
{
width:200px;
height:200px;
background-image:url('images/yez.jpg');
float:left;
margin: 50px;
}

#ImageTwo
{
width:200px;
height:200px;
background-image:url('Images/yez 2.jpg');
float:left;
margin: 50px;

}

#Calander
{
width:240px;
height:217px;
background-image:url('Images/calender.png');
float:left;
margin: 50px
}

#IntroTwo
{
width:200px;
height:150px;
background-color:#0000CC;
float:left;
margin:50px;
}

#Gif
{
width:200px;
height:200px;
background-image:url('Images/y.gif');
float:left;
margin:50px;
}
/*contact us page*/
	#wrapper4
	{
	margin:0 auto;
	width:80%;
	min-height:400px;
	}

	#Links
	{
	width:60%;
	height:200px;
	float:left;
	background-color: #0000CC;
	float:left;
	}

	#Information
	{
	Width:40%;
	height:200px;
	background-color:grey;
	float:right;
	}
	
	#form
	{
	width:40%;
	height:200px;
	background-color:orange;
	float:left;
	}
	
	#InformationTwo
	{
	width:60%;
	height:200px;
	background-color:#2E5CE6;
	float:right;
	}
	//*
	#picture
	{
	width:20%;
	height:200px;
	background-image:url('Images/Nyan.jpg');
	float:left;
	}
	*//
	/*archives page*/
		#wrapper2
		{
		width:80%;
		height:600px;
		background:yellow;
		margin: 0 auto;
		}
		#menu
		{
		float:left;
		width:20%;
		height:600px;
		background:orange;
		}
		#main
		{
		float:right;
		width:80%;
		height:600px;
		background:#0000CC;
		overflow:auto;
		}
		#selector1
		{
		width:100%;
		height: 21px;
		}
		.selector2
		{
		float:left;
		display: block;
		height: 20px;
		width: 25%;
		background:cyan;
		text-align:center;
		}
		.video1
		{
		float:left;
		width:200px;
		height:150px;
		background:#2E5CE6;
		position:relative;
		top:40px;
		left:7%;
		margin-bottom:40px;
		margin-right:40px;
		}
		.video2
		{
		float:left;
		width:200px;
		height:150px;
		background:#2E5CE6;
		position:relative;
		top:40px;
		left:7%;
		margin-bottom:40px;
		margin-right:40px;
		}			
			/*reviews page*/
			#wrapper3
			{

			width:80%;
			height:600px;
			background:#0000CC;
			margin: 0 auto;
			}
			#menu2
			{
			float:left;
			width:20%;
			height:600px;
			background:orange;
			}
			#main2
			{
			float:right;
			width:80%;
			height:600px;
			background:#0000CC;
			overflow:auto;
			}
			.article
			{
			width:500px;
			height:250px;
			background:#2E5CE6;
			position:relative;
			top:40px;
			left:20%;
			margin-bottom:40px;
			

			}
			.header
			{
			width:500px;
			height:50px;
			background:sian;
			font-family:helvetica;
			font-size:100%;
			}
/*content css for archives*/
.blog1
{
float:left;
width:200px;
height:150px;
background:#2E5CE6;
position:relative;
top:40px;
left:7%;
margin-bottom:40px;
margin-right:40px;
}
.article1
{
float:left;
width:200px;
height:150px;
background:#2E5CE6;
position:relative;
top:40px;
left:7%;
margin-bottom:40px;
margin-right:40px;
}
.article2
{
float:left;
width:200px;
height:150px;
background:#2E5CE6;
position:relative;
top:40px;
left:7%;
margin-bottom:40px;
margin-right:40px;
}
.header
{
width:200px;
height:50px;
background:#2E5CE6;
font-family:helvetica;

}
.blog2
{
float:left;
width:200px;
height:150px;
background:#2E5CE6;
position:relative;
top:40px;
left:7%;
margin-bottom:40px;
margin-right:40px;
}
.news1
{
float:left;
width:200px;
height:150px;
background:#2E5CE6;
position:relative;
top:40px;
left:7%;
margin-bottom:40px;
margin-right:40px;
}
.news2
{
float:left;
width:200px;
height:150px;
background:#2E5CE6;
position:relative;
top:40px;
left:7%;
margin-bottom:40px;
margin-right:40px;
}