body
{
background-color:teal;
}

#banner
{
text-align:center;
}

#selector
{
width:70%;
height:50px;
background-color:black;
margin:0 auto;
text-align:center;
}

#one
{
text-align:center;
}
#wrapper
{

width:900px;
height:600px;
background:yellow;
position:relative;
left:140px
}
#menu
{
float:left;
width:200px;
height:600px;
background:orange;
}
#main
{
float:right;
width:700px;
height:600px;
background:lime;
overflow:auto;
}
.article
{
width:500px;
height:250px;
background:red;
position:relative;
top:40px;
left:100px;
margin-bottom:40px;

}
.header
{
width:500px;
height:50px;
background:sian;
font-family:helvetica;
font-size:100%;
}
