body
{
background-color:teal;
}

#banner
{
text-align:center;
}

#selector
{
width:80%;
height:50px;
background-color:black;
margin:0 auto;
text-align:center;
}

#one
{
text-align:center;
}
#wrapper
{

width:80%;
height:600px;
background:#0000CC;
margin: 0 auto;
}
#menu
{
float:left;
width:20%;
height:600px;
background:orange;
}
#main
{
float:right;
width:80%;
height:600px;
background:#0000CC;
overflow:auto;
}
.article
{
width:500px;
height:250px;
background:#2E5CE6;
position:relative;
top:40px;
left:20%;
margin-bottom:40px;

}
.header
{
width:500px;
height:50px;
background:sian;
font-family:helvetica;
font-size:100%;
}
